version: 2

jobs:
  test-crystal: &test-template
    docker:
      - image: crystallang/crystal:0.32.0
    steps:
      - checkout
  test-crystal-0.30.1:
    <<: *test-template
    docker:
      - image: crystallang/crystal:0.30.1
    steps:
      - checkout
      - run: shards
      - run: SPEC_VERBOSE=1 ./bin/test
  test-crystal-0.31.1:
    <<: *test-template
    docker:
      - image: crystallang/crystal:0.31.1
    steps:
      - checkout
      - run: shards
      - run: SPEC_VERBOSE=1 ./bin/test
  test-crystal-0.32.0:
    <<: *test-template
    steps:
      - checkout
      - run: shards
      - run: ./bin/ci
  test-coverage:
    docker:
      - image: hanneskaeufler/crystal-kcov:0.27.2-v36
    steps:
      - checkout
      - run: ./bin/test-coverage
  test-mutations:
    <<: *test-template
    steps:
      - checkout
      - run: make bin
      - run: ./bin/test-mutations

workflows:
  version: 2
  ci:
    jobs:
      - test-crystal-0.32.0
      - test-crystal-0.31.1
      - test-crystal-0.30.1
      - test-mutations
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only: master
    jobs:
      - test-crystal-0.32.0
      - test-crystal-0.31.1
      - test-crystal-0.30.1
      - test-mutations
